@import "reset";

body{
	font-family: Verdana, Arial;
	font-size: 18px;
	background-color: #d4d0b4;
}
h1{
	background-color: #626b5e;
	font-size: 1em;
	color: #f5f6f5;
	line-height: 2em;
	text-align: center;
}
#newTaskInput, #addNewTask{
	display: block;
	width: 98%;
	margin: 5px auto 0;
	background-color: #757769;
	border: 0;
	height: 2em;
	font-size: 1em;
	color: #f5f6f5;
}
#taskList{
	margin: 10px 0 0;
	> li{
		background: -webkit-linear-gradient(#fff, #f6f6f7);
		background: -o-linear-gradient(#fff, #f6f6f7);
		background: -moz-linear-gradient(#fff, #f6f6f7);
		background: linear-gradient(#fff, #f6f6f7);
		border: 1px solid #bbb6af;
		line-height: 2em;
		color: #929292;
		padding: 0 15px;
		cursor: default;
		&.done{
			text-decoration: line-through;
			opacity: 0.5;
		}
	}
}